version: '3.8'

services:
  db:
    image: postgres:13
    container_name: skillkit_db
    env_file: .env
    environment:
      POSTGRES_DB: ${DB_NAME:-postgres}
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASS:-postgres}
      PGDATA: /var/lib/postgresql/data/tmp
    ports:
      - '${DB_PORT:-5432}:5432'
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - skillkit_network
    restart: unless-stopped
  dev:
    build:
      context: .
      target: dependencies
    container_name: skillkit_backend_dev
    env_file: .env
    expose:
      - '${PORT:-8000}'
    ports:
      - '${PORT:-8000}:${PORT:-8000}'
    depends_on:
      - db
    networks:
      - skillkit_network
    restart: unless-stopped
    command: yarn dev

  prod:
    build:
      context: .
      target: runner
    container_name: skillkit_backend_prod
    env_file: .env
    expose:
      - '${PORT:-8000}'
    ports:
      - '${PORT:-8000}:${PORT:-8000}'
    depends_on:
      - db
    restart: unless-stopped
    networks:
      - skillkit_network

networks:
  skillkit_network:
    driver: bridge

volumes:
  db-data:
